/*

!/libs
/libs/*
!/libs/main.js

!/widgets
/widgets/*

!/widgets/ReactGeosearch
!/widgets/ReactGeosearch/*/*
/widgets/ReactGeosearch/Widget.js
/widgets/ReactGeosearch/Widget.js.map

!/widgets/ReactWidgetTemplate
!/widgets/ReactWidgetTemplate/*/*
/widgets/ReactWidgetTemplate/Widget.js
/widgets/ReactWidgetTemplate/Widget.js.map

!/.babelrc
!/.editorconfig
!/.gitignore
!/devServer.js
!/jsconfig.json
!/package.json
!/README.md
!/server.js
!/webpack.config.dev.js
!/webpack.config.prod.js
